<section class="content-header">
  <h2>Manage Category</h2>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-3">
          <input class="form-control" type="text" placeholder="Search categories..." ng-model="filter"/>
        </div>
        <div class="col-sm-9">
          <div class="pull-right">
            <a href="/categories/new" class="btn btn-primary"><span class="fa fa-plus"></span> Add Category</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="space"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
          <div ng-hide="loaded" class="loading"></div>
          <table foo-table class="table footable" ng-model="categories" ng-show="categories.length">
            <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Created Date</th>
              <th class="actions" data-sort-ignore="true">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="category in categories | filter: filter">
              <td>{{category.name}}</td>
              <td>{{category.type}}</td>
              <td>{{category.createdAt | date}}</td>
              <td class="actions">
                <button type="button" class="btn btn-danger" ng-click="confirmDelete(category)"><span class="fa fa-trash-o"></span> Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
