<section class="content-header">
  <h2 class="pull-left">Dashboard</h2>
  <div class="pull-right">
    <form class="form-inline">
      <div class="form-group">
        <label for="period">View Month: </label>
        <select
            name="period"
            id="period"
            class="form-control"
            ng-model="period"
            ng-options="period for period in periods"
            ng-change="reload()">
        </select>
      </div>
    </form>
  </div>
  <div class="clearfix"></div>
</section>

<section class="content dashboard">

  <section ng-include src="'/app/partials/todayRecurrings.html'"></section>

  <section ng-include src="'/app/partials/usage.html'"></section>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="fa fa-bar-chart-o"></span> Transaction Logs</div>
        <div class="panel-body">
          <div ng-hide="transactionsData" class="loading float"></div>
          <chart class="chart" ng-model='transactionsData' chart-options="transactionsOptions"></chart>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="fa fa-bar-chart-o"></span> Spending by Category</div>
        <div class="panel-body">
          <div ng-hide="categoriesData" class="loading float"></div>
          <chart class="chart" ng-model='categoriesData' chart-options="categoriesOptions"></chart>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading"><span class="fa fa-bar-chart-o"></span> Spending by Month</div>
        <div class="panel-body">
          <div ng-hide="monthlyData" class="loading float"></div>
          <chart class="chart" ng-model='monthlyData' chart-options="monthlyOptions"></chart>
        </div>
      </div>
    </div>
  </div>
</section>
