<section class="content-header">
  <h2>Help</h2>
</section>

<section class="content">

  <h4>Category</h4>
  <ul>
    <li>Category is group of budgets that for specific purpose, e.g. <strong>Home</strong> and <strong>Daily Living</strong>.</li>
  </ul>

  <h4>Budget</h4>
  <ul>
    <li>.</li>
  </ul>

  <h4>Transaction</h4>
  <ul>
    <li>You can't delete <strong>transaction</strong> since the purpose of transaction is to record everything. If you wish to delete transaction, you can create a new transaction to revert the amount.</li>
  </ul>
  <h4>Recurring</h4>
  <ul>
    <li>An expense or expenditure is an outflow of money to another person or group to pay for an item or service, or for a category of costs.</li>
  </ul>
</section>
