<section class="content-header">
  <h2>Manage Ledger</h2>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-3">
          <input class="form-control" type="text" placeholder="Search ledgers..." ng-model="filter"/>
        </div>
        <div class="col-sm-9">
          <div class="pull-right">
            <button class="btn btn-primary"  href="/ledgers/new"><span class="fa fa-plus"></span> Add Ledger</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="space"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Ledgers</h3>
        </div>
        <div class="panel-body">
          <div ng-hide="loaded" class="loading"></div>
          <table class="table" ng-show="ledgers.length">
            <thead>
            <tr>
              <th>Name</th>
              <th>Budget</th>
              <th>Spent</th>
              <th>Remaining</th>
              <th>Period</th>
              <th class="actions">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ledger in ledgers | filter: filter">
              <td>{{ledger.name}}</td>
              <td>{{ledger.budget | currency}}</td>
              <td>{{ledger.spent | currency}}</td>
              <td>{{ledger.spent | currency}}</td>
              <td>{{ledger.period | yearMonth}}</td>
              <td class="actions">
                <button type="button" class="btn btn-danger" ng-click="confirmDelete(ledger)"><span class="fa fa-trash-o"></span> Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
