<section class="content-header">
  <h2>Manage Recurring</h2>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-sm-3">
          <input class="form-control" type="text" placeholder="Search recurrings..." ng-model="filter"/>
        </div>
        <div class="col-sm-9">
          <div class="pull-right">
            <a href="/recurrings/new" class="btn btn-primary" ><span class="fa fa-plus"></span> Add Recurring</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="space"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Recurrings</h3>
        </div>
        <div class="panel-body">
          <div ng-hide="loaded" class="loading"></div>
          <div ng-hide="recurrings.length || !loaded" class="no-result">
            <h2>No Recurring</h2>
          </div>
          <table foo-table class="table footable" ng-model="recurrings" ng-show="recurrings.length">
            <thead>
            <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Type</th>
              <th>Remark</th>
              <th>Last Run Date</th>
              <th>Created Date</th>
              <th class="actions" data-sort-ignore="true">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="recurring in recurrings | filter: filter">
              <td>{{recurring.name}}</td>
              <td>{{recurring.amount | safeCurrency : $root.user.currency}}</td>
              <td>{{recurring.recurringTypeDisplay}}</td>
              <td><span title="{{recurring.remark | na }}">{{recurring.remark | na | truncate:true:50 }}</span></td>
              <td>{{recurring.lastRunAt | datetime}}</td>
              <td>{{recurring.createdAt | date}}</td>
              <td class="actions">
                <button type="button" class="btn btn-primary" ng-click="openRecurringModal(recurring)" title="View transactions"><span class="fa fa-list-ul"></span> Transactions</button>
                <button type="button" class="btn btn-danger" ng-click="confirmDelete(recurring)"><span class="fa fa-trash-o"></span> Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
