<div class="row">
  <div class="col-lg-3 col-xs-12">
    <div class="small-box bg-aqua">
      <div class="inner">
        <h3 ng-hide="usageLoaded" class="loading-icon"><span class="ion ion-refreshing"></span></h3>
        <h3 ng-show="usageLoaded">{{usage.income | safeCurrency : $root.user.currency}}</h3>
        <p>Total Actual Income</p>
      </div>
      <div class="icon">
        <i class="ion ion-cash"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-12">
    <div class="small-box bg-yellow">
      <div class="inner">
        <h3 ng-hide="usageLoaded" class="loading-icon"><span class="ion ion-refreshing"></span></h3>
        <h3 ng-show="usageLoaded">{{usage.projected | safeCurrency : $root.user.currency  }}</h3>
        <p>Total Projected</p>
      </div>
      <div class="icon">
        <i class="ion ion-pie-graph"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-12">
    <div class="small-box bg-red">
      <div class="inner">
        <h3 ng-hide="usageLoaded" class="loading-icon"><span class="ion ion-refreshing"></span></h3>
        <h3 ng-show="usageLoaded">{{usage.actual | safeCurrency : $root.user.currency}}</h3>
        <p>Total Actual</p>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-xs-12">
    <div class="small-box bg-green">
      <div class="inner">
        <h3 ng-hide="usageLoaded" class="loading-icon"><span class="ion ion-refreshing"></span></h3>
        <h3 ng-show="usageLoaded">{{usage.remaining | safeCurrency : $root.user.currency }}</h3>
        <p>Total Projected Remaining</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
    </div>
  </div>
</div>
